<div class="overlay" [ngClass]="{'active':isSidebarOpen}"></div>
<div class="sidebar" [ngClass]="{'active':isSidebarOpen}">
    <div class="close-btn" (click)="handleCloseSidebar()">
        <button mat-fab height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor" class="side-btn">
            <mat-icon class="cle-icon">clear</mat-icon>
        </button>
    </div>
    <div class="profile p-4">
        <div>
            <img src="../../../assets/product-details/Avatar.png">
        </div>
        <div class="pt-3">
            <span class="side-name">Jory Lenz</span>
        </div>
        <div>
            <span class="side-name">jory.lenz@gmail.com</span>
        </div>
    </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx" class="bord p-4" routerLink="/favorites" >
            <mat-icon class="side-icon" routerLinkActive="active">favorite</mat-icon>
            <span class="title" routerLinkActive="active">My Favorite</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx" class="bord p-4" routerLink="/wallet" >
           <mat-icon class="side-icon" routerLinkActive="active">account_balance_wallet</mat-icon>
           <span class="title" routerLinkActive="active">My Wallet</span>
        </div>
</div>