<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div *ngFor="let product of products">
    <app-list-product [listProduct] = "product"></app-list-product>
</div>
<div class="item-desk">
    <mat-paginator  #paginator [length]="totalRows" 
                    [pageIndex]="currentPage" 
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions" 
                    (page)="pageChanged($event)"
                    aria-label="Select page" 
                    class="filter">
    </mat-paginator>
    <!-- <mat-paginator
    [pageSizeOptions]="[5, 10, 15, 20, 30]"
    showFirstLastButtons,
    >
  </mat-paginator> -->
</div>  


<div class="item-mob">
    <div class="center">
        <button mat-button class="more">Show more</button>
    </div>
</div>